/**
 * Axis component based on the d3.axis interface
 *
 * @module sszvis/axis
 */
.sszvis-axis text {
  fill: #B8B8B8;
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
}

.sszvis-axis path,
.sszvis-axis line {
  fill: none;
  stroke: #B8B8B8;
  shape-rendering: crispEdges;
}

/* States */
.sszvis-axis .tick.active text {
  fill: #545454;
  font-weight: bold;
}

/* Modifiers */
.sszvis-axis--halo text {
  text-shadow: #fff 1px 0 1px, #fff -1px 0 1px, #fff 0 1px 1px, #fff 0 -1px 1px;
}

.sszvis-axis--top path {
  display: none;
}

.sszvis-axis--bottom line {
  transform: translateY(3px);
}

.sszvis-axis--vertical path {
  display: none;
}

/**
 * Reference line component
 *
 * @module sszvis/component/dataAreaLine
 */
.sszvis-reference-line {
  stroke-width: 1.5;
  stroke: #aaa;
  stroke-dasharray: 3 3;
}

/**
 * Legend component - color legend
 *
 * @module sszvis/legend/color
 */
.sszvis-legend--label {
  font-family: Arial, sans-serif;
  fill: #909090;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}


/**
 * Bar component
 *
 * @module sszvis/component/line
 */
.sszvis-bar {

}

/**
 * Line component
 *
 * @module sszvis/component/line
 */
.sszvis-line {
  fill: none;
  stroke-width: 1.5px;
}

/**
 * Map component
 *
 * @module sszvis/map
 */
.sszvis-map-area {
  stroke: none;
}

.sszvis-map-border {
  fill: none;
  stroke: #fff;
  stroke-width: 1.25;
}

/**
 * Segmented Control component
 *
 * @module sszvis/control/segmented
 */
.sszvis-control--segmented {
  display: inline-block;
  position: absolute;
}

.sszvis-control--segmentitem {
  background-color: #FFFFFF;
  border: 1px solid #7C7C7C;
  border-left: none;
  box-sizing: border-box;
  color: #7C7C7C;
  cursor: pointer;
  display: table-cell;
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding: 0.5em 1em;
  text-align: center;
  vertical-align: middle;
}

.sszvis-control--segmentitem.selected {
  background-color: #B8B8B8;
  color: #FFFFFF;
}

.sszvis-control--segmentitem:first-child {
  border-left: 1px solid #7C7C7C;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.sszvis-control--segmentitem:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/**
 * Slider Bar component
 *
 * @module sszvis/control/slideBar
 */
.sszvis-slider-line {
  stroke: #CCCCCC;
}

.sszvis-slider-handle {
  fill: #fff;
  stroke: #808184;
}

.sszvis-slider-handleMark {
  stroke: #A6A8AB;
}

.sszvis-slider-dot {
  stroke: #fff;
  stroke-width: 1;
}

.sszvis-slider-label {
  fill: #545454;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  text-shadow: #fff 1px 0 1px, #fff -1px 0 1px, #fff 0 1px 1px, #fff 0 -1px 1px;
}

/**
 * Vertical Ruler component
 *
 * @module sszvis/component/ruler
 */
.sszvis-ruler-rule {
  shape-rendering: crispEdges;
  stroke: #B8B8B8;
}

.sszvis-ruler-dot {
  stroke: #FFFFFF;
  stroke-width: 1.5;
}

.sszvis-ruler-label {
  fill: #545454;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  text-shadow: #fff 1px 0 1px, #fff -1px 0 1px, #fff 0 1px 1px, #fff 0 -1px 1px;
}

/**
 * Tooltip component
 *
 * @module sszvis/component/tooltip
 */
.sszvis-tooltip-displaywrapper {
  position: relative;
  height: 50px;
}

.sszvis-tooltip {
  position: absolute;
}

.sszvis-tooltip-box {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 4px 0px rgba(177, 177, 177, 0.9);
  padding: 10px;
  font-size: 11px;
  font-family: Arial;
  white-space: nowrap;
}

.sszvis-tooltip-tipholder {
  position: absolute;
  width: 0;
  height: 0;
}

.sszvis-tooltip-tipholder.tip-top, .sszvis-tooltip-tipholder.tip-bot {
  left: 50%;
}

.sszvis-tooltip-tipholder.tip-left, .sszvis-tooltip-tipholder.tip-right {
  top: 50%;
}

.sszvis-tooltip-tipholder.tip-top {
  top: -20px;
}

.sszvis-tooltip-tipholder.tip-bot {
  bottom: 0px;
}

.sszvis-tooltip-tipholder.tip-left {
  left: -20px;
}

.sszvis-tooltip-tipholder.tip-right {
  right: 0px;
}

.sszvis-tooltip-tip {
  display: inline-block;
  border: 10px solid transparent;
}

.sszvis-tooltip-tip.tip-top {
  transform: translate(-50%, 0);
  border-bottom-color: rgba(255, 255, 255, 0.9);
}

.sszvis-tooltip-tip.tip-bot {
  transform: translate(-50%, 0);
  border-top-color: rgba(255, 255, 255, 0.9);
}

.sszvis-tooltip-tip.tip-left {
  transform: translate(0, -50%);
  border-right-color: rgba(255, 255, 255, 0.9);
}

.sszvis-tooltip-tip.tip-right {
  transform: translate(0, -50%);
  border-left-color: rgba(255, 255, 255, 0.9);
}

.sszvis-tooltip-header {
  font-weight: 700;
}

.sszvis-tooltip-body {
  margin-top: 0.4em;
}
