/**
 * Axis component based on the d3.axis interface
 *
 * @module sszvis/axis
 */
.sszvis-axis text {
  fill: #B8B8B8;
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
}

.sszvis-axis path,
.sszvis-axis line {
  fill: none;
  stroke: #B8B8B8;
  shape-rendering: crispEdges;
}

/* Modifiers */
.sszvis-axis--horizontal line {
  transform: translateY(3px);
}

.sszvis-axis--vertical path {
  display: none;
}


/**
 * Bar component
 *
 * @module sszvis/component/line
 */
.sszvis-bar {
  fill: #6392C5;
}

.sszvis-bar:hover {
  fill: #3A75B2;
}


/**
 * Line component
 *
 * @module sszvis/component/line
 */
.sszvis-line {
  fill: none;
  stroke: #6392C5;
  stroke-width: 1.5px;
}


/**
 * Vertical Ruler component
 *
 * @module sszvis/component/ruler
 */
.sszvis-ruler-rule {
  shape-rendering: crispEdges;
  stroke: #B8B8B8;
}

.sszvis-ruler-dot {
  fill: #6392C5;
  stroke: #FFFFFF;
  stroke-width: 1.5;
}

/**
 * Tooltip component
 *
 * @module sszvis/component/tooltip
 */
.sszvis-tooltip-displaywrapper {
  position: relative;
  height: 50px;
}

.sszvis-tooltip {
  position: absolute;
}

.sszvis-tooltip-box {
  background-color: rgba(242, 242, 242, 0.9);
  box-shadow: 0 0 4px 0px rgba(177, 177, 177, 0.9);
  padding: 10px;
  font-size: 11px;
  font-family: Arial;
}

.sszvis-tooltip-tipholder {
  position: absolute;
  width: 0;
  height: 0;
}

.sszvis-tooltip-tipholder.tip-top, .sszvis-tooltip-tipholder.tip-bot {
  left: 50%;
}

.sszvis-tooltip-tipholder.tip-left, .sszvis-tooltip-tipholder.tip-right {
  top: 50%;
}

.sszvis-tooltip-tipholder.tip-top {
  top: -20px;
}

.sszvis-tooltip-tipholder.tip-bot {
  bottom: 0px;
}

.sszvis-tooltip-tipholder.tip-left {
  left: -20px;
}

.sszvis-tooltip-tipholder.tip-right {
  right: 0px;
}

.sszvis-tooltip-tip {
  display: inline-block;
  border: 10px solid transparent;
}

.sszvis-tooltip-tip.tip-top {
  transform: translate(-50%, 0);
  border-bottom-color: rgb(242, 242, 242);
}

.sszvis-tooltip-tip.tip-bot {
  transform: translate(-50%, 0);
  border-top-color: rgb(242, 242, 242);
}

.sszvis-tooltip-tip.tip-left {
  transform: translate(0, -50%);
  border-right-color: rgb(242, 242, 242);
}

.sszvis-tooltip-tip.tip-right {
  transform: translate(0, -50%);
  border-left-color: rgb(242, 242, 242);
}

.sszvis-tooltip-header {
  font-weight: 700;
}

.sszvis-tooltip-body {
  margin-top: 0.4em;
}