/**
 * Axis component based on the d3.axis interface
 *
 * @module sszvis/axis
 */
.sszvis-axis text {
  fill: #B8B8B8;
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
}

.sszvis-axis path,
.sszvis-axis line {
  fill: none;
  stroke: #B8B8B8;
  shape-rendering: crispEdges;
}

/* Modifiers */
.sszvis-axis--horizontal line {
  transform: translateY(3px);
}

.sszvis-axis--vertical path {
  display: none;
}


/**
 * Bar component
 *
 * @module sszvis/component/line
 */
.sszvis-bar {
  fill: #6392C5;
}

.sszvis-bar:hover {
  fill: #3A75B2;
}


/**
 * Line component
 *
 * @module sszvis/component/line
 */
.sszvis-line {
  fill: none;
  stroke: #6392C5;
  stroke-width: 1.5px;
}


/**
 * Vertical Ruler component
 *
 * @module sszvis/component/verticalRuler
 */
.sszvis-verticalRuler-ruler {
  shape-rendering: crispEdges;
  stroke: #B8B8B8;
}

.sszvis-verticalRuler-dot {
  fill: #6392C5;
  stroke: #FFFFFF;
  stroke-width: 1.5;
}
