/* Scaffold
----------------------------------------------- */

body {
  font: 10px sans-serif;
}


/* Axis component
----------------------------------------------- */
.sszvis-Axis path,
.sszvis-Axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* Modifiers */
.sszvis-Axis--horizontal path {
  display: none;
}

.sszvis-Axis--vertical {}


/* Line component
----------------------------------------------- */
.sszvis-Line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
